<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    </head>
    <body>
      <div id="body" class="container">
        <h1 class="display-4">
            practice the tap usage
        </h1>
        <p class="lead">Be Professional!</p>
        <div class="question">Question is <code>{{ question }}</code></div>
        <form class="form-input">
            <input v-model="inp" v-on:keyup="check" v-focus>
        </form>
        <div v-if="err">
          You typed <code>{{ errorKey }}</code> and the question is <code>{{ question }}</code>
        </div>
        <div v-if="showHint">
            hint: <span id="hint" class="text text-left">{{ hint }}</span>
        </div>
      </div>
    </body>
    <script>

        let binding = {
          a: 'oxxxx', b: 'xoxxo', c: 'oxooo', d: 'oxoxx', e: 'xoxxx', f: 'ooxox',
          g: 'oxoox', h: 'xoooo', i: 'xxoxx', j: 'oooxo', k: 'oxxox', l: 'xxoox',
          m: 'xoxox', n: 'ooxxx', o: 'xxxox', p: 'ooxxo', q: 'xooxo', r: 'oooox',
          s: 'xxxoo', t: 'xooxx', u: 'xxxxo', v: 'ooxoo', w: 'oxoxo', x: 'xoxoo',
          y: 'oxxxo', z: 'xxoxo'//, bs: 'xooox', enter: 'oxxoo'
        }
        // https://qiita.com/mi-miya/items/9eb9a0fb14f4ec3a8764
        let randomAry = function(ary) {
          for (var i = ary.length - 1; i >= 0; i--){
            var rand = Math.floor( Math.random() * ( i + 1 ) );
            [ary[i], ary[rand]] = [ary[rand], ary[i]]
          }
          return ary
        }

        let ary = randomAry(Object.keys(binding))
        var app = new Vue({
            el: '#body',
            data: {
                question: ary[0],
                hint: binding[ary[0]],
                count: 0,
                inp: null,
                errorKey: null,
                err: 0,
                showHint: false
            },
            directives: {
              focus: {
                // ディレクティブ定義
                inserted: function (el) {
                  el.focus()
                }
              }
            },
            methods: {
              initializeError: function() {
                this.err = null
                this.errorMsg = null
                this.inp = null
                this.showHint = false
              },
              check: function(event) {
                if (!ary.includes(event.key)) {
                  this.initializeError()
                  return
                }
                if (event.key == this.question) {
                  this.count++
                  if (this.count >= ary.length) {
                    ary = randomAry(Object.keys(binding))
                    this.count = 0
                  }
                  this.question = ary[this.count]
                  this.hint = binding[ary[this.count]]
                  this.initializeError()
                } else {
                  this.inp = null
                  this.errorKey = event.key
                  this.err++
                  if (this.err >= 3) {
                    this.showHint = true
                  }
                }
              }

            }
        })
    </script>
</html>
